body {
    background-color: #192D2D;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
header {
    margin: 0px;
    /* border-bottom: 1px solid #8B848C; */
    /* height: 49px; */
    /* padding: 0px; */
    color: #59505b;
    background-color: white;
    width: 100%;
}


h1 {
    font-family: 'Cinzel', serif;
    text-shadow: 0px 0.2px;
    display: inline;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 75px;
}

.image {
    margin: 15px auto;
    /* border: 1px solid #000; */
    width: 95%;
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1443140570159-279cf334cf24?ixlib=rb-0.3.5…EyMDd9&s=9d90aef…&auto=format&fit=crop&w=1932&q=80);
    background-position: center;
    background-size: cover;
}
h2{
    font-family: 'Cinzel', serif;
    text-shadow: 0px 0.2px;
    /* text-decoration-line: underline; */
    text-align: center;
    line-height: 1.5px;
    /* float: right; */
}
h3{
    margin: 50px 0px 50px 0px;

}

li {
    font-size: medium;
    display: inline;
    margin: 5px;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: #A46A3F; 
}

ul {
    text-align: right;
    margin: 10px 40px 0px 0px;
}
.displayScripture {
    line-height: 1.5;
    margin: 50px auto;
    padding: 50px;
    width: 65%;
    border: 1px solid #000;
}

.note_Form {
    width: 100%;
    margin: 10px auto;
    padding: 10px 25px;
}

.note_Form label {
    display: block; 
    
}

.my_notes {
    width: 55%;
    height: 500px;
    margin: 30px auto;
    /* padding: 10px 10px 10px 20px; */
}

table {
    position: relative;
    display: table;
    margin: 70px auto 0px auto;
    border-spacing: 10px 25px;
    text-align: center;
}
th {
    border-collapse: collapse;
    padding: 8px 25px 8px 25px;
    background-color: #8B848C;
}

.more_notes {
    /* bottom: -18px; */
    position: relative;
    top: 220px;
    left: 250px;
    font-size: 18px;
    color: rgb(68, 139, 197);
    /* margin: 0px 0px 0px 0px; */
}

.sign_up {
    width: 20%;
    border: 1px solid #000;
    margin: 200px auto;
    padding: 40px;
    background-color: white;
}
.sign_up label{
    text-decoration-line: underline;
    line-height: 1.5;
    
}


.sign_in {
    height: 400px;
    width: 400px;
    border: 1px solid #000;
    margin: 200px auto;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.sign_in label{
    text-decoration-line: underline;
    line-height: 1.5;
}
.sign_in input {
    display: block;
    width: 210px;
    height: 30px;
    margin: 5px -2px;
}

.sign_in a {
    margin: 0px 100px 0px 100px;
}

.displayScripture h2, .note_Form h2{
    float: none;
    display: block;
    margin: 0px 0px 25px 0px;
    padding: 10px;
}


form {
    margin: 30px 0px 50px 85px;
}
.sign_in button {
    width: 100px;
    height: 50px;
    margin: 0px 0px 0px 60px;
}
p{
    text-align: center;
}

main {
    background-color: white;
    margin: 10px auto;
    padding: 0px;
}

button {
    margin: 15px;
    display: block;
    width: 100px;
    height: 50px;
}

@media only screen and (min-width: 769px){
    .note_Form {
        width: 70%;
        /* border: 1px solid #000; */
        margin: 10px auto;
        padding: 10px 25px;
    }

    main {
        background-color: white;
        /* width: max-content; */
        margin: 10px auto;
        padding: 0px;
        width: 50%;
    }
}

/* .information{
    width: 100%; 
    padding: 25px;
    border-bottom: 1px solid silver;

} */

/* .information p {
    line-height: 1.4;
    padding: 0px;
    margin: 51px 50px 50px auto;
    width: 54%;
    position: relative;
}

.information2{
    width: 100%; 
    padding: 25px;
}

.information2 p {
    line-height: 1.4;
    padding: 20px;
    /* margin: 24px 47px 0px auto; */
    /* width: 25%; */
    /* height: unset; */
    /* position: relative;
}
.information2 h2 {
    float: left;
    margin: 20px 20px 0px 40px;
}
.sampleImage2 {
    float: right;
    border: 1px solid #000;
    width: 35%;
    height: 200px;
    margin: 0px 10px 0px 20px;
}
.sampleImage {
    float: left;
    border: 1px solid #000;
    width: 35%;
    height: 200px;
    margin: 0px 10px 0px 20px;
}
.information h2 {
    float: right;
    margin: 20px 20px 0px 40px;
} */ 





