body {
    background-color: #192D2D;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
header {
    margin: 0px;
    color: #59505b;
    background-color: white;
    width: 100%;
}

h1 {
    font-family: 'Cinzel', serif;
    text-shadow: 0px 0.2px;
    display: inline;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 75px;
}

h2{
    font-family: 'Cinzel', serif;
    text-shadow: 0px 0.2px;
    text-decoration-line: underline;
    text-align: center;
    line-height: 1.5px;
}
h3{
    margin: 50px 0px 50px 0px;
}

li {
    font-size: medium;
    display: inline;
    margin: 5px;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: #A46A3F; 
}

ul {
    text-align: right;
    margin: 10px 40px 0px 0px;
}
.displayScripture {
    line-height: 1.5;
    margin: 50px auto;
    padding: 50px;
    width: 65%;
    border: 1px solid #000;
}

.note_Form {
    width: 100%;
    margin: 10px auto;
    padding: 10px 25px;
}

.note_Form label {
    display: block; 
    
}

.my_notes {
    width: 55%;
    height: 500px;
    margin: 30px auto;
}

table {
    position: relative;
    display: table;
    margin: 70px auto 0px auto;
    border-spacing: 10px 25px;
    text-align: center;
}
th {
    border-collapse: collapse;
    padding: 8px 25px 8px 25px;
    background-color: #8B848C;
}

.more_notes {
    position: relative;
    top: 220px;
    left: 250px;
    font-size: 18px;
    color: rgb(68, 139, 197);
 
}

.sign_up {
    width: 20%;
    border: 1px solid #000;
    margin: 200px auto;
    padding: 40px;
    background-color: white;
}
.sign_up label{
    text-decoration-line: underline;
    line-height: 1.5;
    
}


.sign_in {
    height: 400px;
    width: 400px;
    border: 1px solid #000;
    margin: 200px auto;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.sign_in label{
    text-decoration-line: underline;
    line-height: 1.5;
}
.sign_in input {
    display: block;
    width: 210px;
    height: 30px;
    margin: 5px -2px;
}

.sign_in a {
    margin: 0px 100px 0px 100px;
}

.displayScripture h2, .note_Form h2{
    float: none;
    display: block;
    margin: 0px 0px 25px 0px;
    padding: 10px;
}


form {
    margin: 30px 0px 50px 85px;
}
.sign_in button {
    width: 100px;
    height: 50px;
    margin: 0px 0px 0px 60px;
}
p{
    text-align: center;
}

main {
    background-color: white;
    /* width: max-content; */
    margin: 10px auto;
    padding: 0px;
}

button {
    margin: 15px;
    display: block;
    width: 100px;
    height: 50px;
}

@media only screen and (min-width: 769px){
    .note_Form {
        width: 70%;
        margin: 10px auto;
        padding: 10px 25px;
    }

    main {
        background-color: white;
        
        margin: 10px auto;
        padding: 0px;
        width: 50%;
    }
}

